header {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;

}

html, body {
    background-color: azure;
}

.Projeto {
    background-color: beige;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 20px 20px;
    width: 700px;
}

.Etapas {
    padding: 10px 30px;
    color:blue;
}